@tailwind base;
@tailwind components;
@tailwind utilities;

.filters-button {
  @apply flex items-center justify-between pb-2;
}

.filters-tags {
  @apply text-xl text-eggWhite;
}

.all-checkboxes-container {
  @apply flex flex-col gap-2;
}

.checkbox-container {
  @apply flex gap-2 text-eggWhite sm:text-xl;
}

.nutrients-container {
  @apply flex justify-between;
}

.nutrients-input {
  @apply w-16 bg-eggWhite text-eggplant;
}

.nutrients-label {
  @apply text-lg text-eggWhite;
}

.main-chat-container-override {
  @apply !h-full w-11/12 rounded-lg sm:w-1/2 lg:w-5/12;
}

.chat-container-override {
  @apply !h-full;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .spinner {
    animation: spin 1s linear infinite;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  height: 100vh;
}

#root {
  /* height: 100%; */
  height: auto;
  min-height: 100vh; /* Ensures they at least fill the viewport */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

html,
body {
  /* height: 100vh; */
  height: auto;
  min-height: 100vh; /* Ensures they at least fill the viewport */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
